absl-py==2.0.0
aiofiles
aiohttp
aiobotocore
anyio==3.7.1
asgiref==3.8.1
astroid
astropy
async-timeout
beautifulsoup4
black
boto3
botocore
cachetools==5.3.1
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
cycler
Cython
dask
debugpy
decorator
distributed
ecdsa==0.19.0
fastapi==0.111.0
Flask
fonttools
gensim
google-auth==2.23.2
greenlet
grpcio==1.59.0
h5py
huggingface_hub
idna
imageio
ipykernel
ipython
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-widgets
keras==3.6.0
kiwisolver
lazy-object-proxy
libarchive-c
llvmlite
lmdb
lxml
Markdown
matplotlib==3.9.2
mistune
multiprocess
mypy
mypy-extensions
nbclient
nbconvert==7.16.4
nbformat
networkx
nltk
notebook
numba
numexpr
numpy==1.24.0
opencv-python-headless==4.10.0.84
pandas
paramiko
pathspec
pexpect
pickleshare
Pillow
pip
platformdirs
pluggy
protobuf==3.20.3
psutil
ptyprocess
pydantic==2.7.3
pylint
pymongo
pytest
pyyaml
regex
requests
rsa==4.9
s3fs
scikit-image
scikit-learn
scipy
seaborn
six
smart-open
sniffio
sortedcontainers
soupsieve
SQLAlchemy
statsmodels
tensorboard==2.18.0
tensorflow==2.18.0
termcolor==2.3.0
textblob
thop
tornado
tqdm
traitlets
transformers==4.28.1
typing-extensions
ujson
urllib3
uvicorn==0.30.1
watchdog
wcwidth
websockets==12.0
Werkzeug
wrapt
xarray
yarl
zipp
